// colors
$primary: #154D70;
$primary2: #6482A4;
$main : #171A1F;
$black: #000;
$black2: #424856;
$white: #fff;
$gray: #F3F4F6;
$gray2: #565D6D;
$green: #117B34;
$red: #DE3B40;
// fonts
$mainFont: 'Montserrat', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;


