.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__inner {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin: 0;
    }
    &-buttons {
      display: flex;
      align-items: center;
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
